.aboutBanner__content {
  
    height: 223px;
    width: 100%;
    border-radius: 25px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/AboutBanner.png);
    background-size: cover;
    background-position: center;
}

// Tablette et mobile

@media screen and (max-width:768px) {
    .aboutBanner__content {
        
        background-size: cover;
        background-position: bottom;
       width: 100%;  
    }
}