.banner{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    width: 100%;
    margin-bottom: 43px;
    border-radius: 25px;
    background-image: url(../assets/HomeBanner.png);
    background-size:cover;
    
    p{
        font-size: 48px;
        font-weight: 500;
        color: white;
    }

}