footer {
    width: 100%;
    
    .footer__content {
        background-color: black;
        color: white;
        padding: 66px 0px 29px 0px;
        text-align: center;
        height: 209px;
        width: 100%;

        p {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }

    .footer__logo {
        width: 122px;
        height: 39px;
    }
}
// Responsive Tablette et mobile
@media screen and (max-width:768px) {
    
    footer {
         .footer__content {
             padding-top: 62px ;
                  p{
                  font-size: 12px;
                  }
         }
    }

}