// importation de la police via google fonts //

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Variables couleurs //

$color-primary:#FF6060;
$color-secondary:#F7F7F7;


// variables layout

* {
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0; 
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0px 100px;
  }
  
  .footer__container{
    padding-top: 50px;
 }
  
  a {
    text-decoration: none;
    color : black;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  // responsive  //
  
  @media screen and (max-width: 1358px) {
    
    .container {
     padding: 0px 20px;
    }
   }

