.housing__tags {
    display: flex;
    height: 25px;
    gap: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #FF6060;
    
    span {
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
    }
}

// tablette et mobile //

@media screen and (max-width:768px) {
    .housing__tags {
        height: 15px;
    }

    .tag {
        border-radius: 5px;
        
        span {
            font-size: 10px;
        }
    }
    
}